body {
  background-color: #f8f9fa;
}

a {
  text-decoration: none;
}

.app-container {
  display: flex;
  min-height: 100vh;
}
html,body,
#root{
     width: 100vw;          
  max-width: 100%;       
  padding-left: 0;
  padding-right: 0;
}