.login-page {
  position: fixed;
  inset: 0;
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrapper{
    text-align: center;
}

.login-icon{
    width:70px;
    height: 70px;
    background-color:#dc143c;
    border-radius:18px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:32px;
    margin:0 auto 16px;

}
.login-icon i{
    font-size:32px;
    color: #f7f7f7;
}
.login-card{
    width:420px;
    border-radius: 16px;
    border:none;
}
button.btn-primary{
    background-color: crimson;
    border-radius: 12px;
    border:none;
}
button.btn.btn-primary:hover,
button.btn.btn-primary:focus,
button.btn.btn-primary:active{
    background-color: crimson;
    border-color:#dc143c;
}

