.login-page {
  position: fixed;
  inset: 0;
  background-color: #f7f7f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-icon{
    width:70px;
    height: 70px;
    background-color:#dc143c;
    border-radius:18px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.login-icon i{
    font-size:32px;
    color: #f7f7f7;
}
.login-card{
    width:420px;
    border-radius: 16px;
    border:none;
}
.form-control{
    border-radius:10px;
    padding:12px;
}
.btn-primary{
    background-color: crimson;
    border-radius: 12px;
    border:none;
}
.btn-primary:hover{
    background-color: crimson;
}
